body {
    width: 100%;
    height: 100vh;
    font-family: var(--main-font);
    color: var(--main-text);
    background-color: var(--main-black);
    font-size: 16px;
    font-weight: 400;
}

/*Alinha todos os componentes da main*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.cards {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 60px;
}

.cards__disciplinas {
    background-color: var(--card-black);
    border-radius: 25px;
}

.docente {
    display: flex;
    gap: 20px;
    padding: 20px
}

.docente__img img {
    width: 100px;
    height: 100px;
}

.docente__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about {
    padding: 0 20px 20px 20px;
    line-height: 22px;
}

.about h3 {
    font-size: 20px;
}

.about h3, .about__topico {
    font-weight: 700;
}

.about__topico {
    margin-bottom: 5px;
}