body {
    width: 100%;
    height: 100vh;
    font-family: var(--main-font);
    color: var(--main-text);
    background-color: var(--main-black);
    font-size: 16px;
    font-weight: 400;
}

/*Cabeçalho*/
header {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-black);
}

.menu {
    display: flex;
}

.menu a {
    color: var(--main-text);
    padding: 23px;
}

.menu a:hover {
    border-bottom: solid 2px #fff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.disciplinas {
    background-color: var(--card-black);
    border-radius: 25px;
    margin: 30px 0px;
}

.docente {
    display: flex;
    gap: 20px;
    padding: 20px
}

.docente__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about {
    padding: 0 20px 20px 20px;
    line-height: 20px;
}

.about h3 {
    font-size: 20px;
}

.about h3, .about__topico {
    font-weight: 700;
}

.about__topico {
    margin-bottom: 5px;
}

.horario {
    text-align: center;
    margin: 25px 0;
    background-color: var(--card-black);
    width: 70%;
    height: auto;
    padding: 30px;
    border-radius: 25px;
}

table, th, td {
    border: 1px solid var(--main-text);
    padding: 5px;
}

.horario h2 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;
}

.formulario {
    background-color: var(--card-black);
    width: 40%;
    height: auto;
    padding: 50px 50px 20px 50px;
    margin: 30px 0 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.formulario p {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;    
}

.formulario__input {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.formulario__input label {
    margin-bottom: 10px;
}

.formulario__input input {
    margin-bottom: 30px;
    padding: 3px 0;
}

.formulario__input input:hover {
    margin-bottom: 30px;
    padding: 3px 0;
    border: solid 2px #4283C4;
}

.submeter {
    margin-top: 30px;

}

.submeter:hover {
    background-color: #4283C4;
    border-color: #4283C4;
    color: var(--main-text);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    text-align: center;
    width: 100%;
    height: 15%;
    background-color: var(--card-black);
}

.footer__contato {
    display: flex;
    justify-content: center;
    gap: 5%;
}

footer img {
    width: 16px;
    height: auto;
}

footer a {
    color: var(--main-text);
}